@model BlogPostsModel;

<div class="card mb-4 shadow-sm">
    <img class="bd-palceholder card-img-top" src="~/images/4253737.jpg" />
    <div class="card-body">
        <h4 class="card-text">@(string.IsNullOrEmpty(Model.Title) ? "Title is not available":Model.Title)</h4>
        <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">@(string.IsNullOrEmpty(Model.Authorname) ? "N/A":Model.Authorname)</small>
            <small class="text-muted">@Model.CreatedAt</small>
        </div>

        <p class="card-text text-justify">@(string.IsNullOrEmpty(Model.BlogBody) ? "Description is not found":Model.BlogBody)</p>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                @Html.ActionLink("Edit", "Edit", new { id=Model.Id}) |
                @Html.ActionLink("Details", "Details", new {id = Model.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = Model.Id })
            </div>
        </div>
    </div>
</div>